@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Light background color */
    --foreground: 240 10% 3.9%; /* Dark text color */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 20 61% 56%; /* Primary color tone */
    --primary-foreground: 0 0% 98%; /* Text color on primary background */
    --secondary: 240 4.8% 95.9%; /* Soft secondary color */
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%; /* Muted color */
    --muted-foreground: 240 3.8% 46.1%; /* Text color on muted background */
    --accent: 20 61% 56%; /* Accent color matching primary */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%; /* Warning color */
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%; /* Border color */
    --input: 240 5.9% 90%;
    --ring: 20 61% 56%; /* Focus ring color matching primary */
    --chart-1: 12 76% 61%; /* Chart colors */
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem; /* Border radius */
  }

  .dark {
    --background: 240 10% 3.9%; /* Dark background color */
    --foreground: 0 0% 98%; /* Light text color */
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 20 61% 56%; /* Primary color for dark theme */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%; /* Soft secondary color for dark */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%; /* Muted color for dark */
    --muted-foreground: 240 5% 64.9%; /* Text color on muted background */
    --accent: 20 61% 56%; /* Accent matching primary in dark */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%; /* Red warning color for dark */
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%; /* Border color for dark */
    --input: 240 3.7% 15.9%; /* Input background for dark */
    --ring: 20 61% 56%; /* Focus ring color in dark mode */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  touch-action: manipulation;
  -ms-touch-action: manipulation; /* for older IE versions */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Hide spinner buttons in Firefox */
}
